.table {
    width: 100%;
    border-collapse: collapse;
    text-transform: uppercase;
}

.table__header {
    background-color: #f2f2f2;
    padding: 10px;
    font-weight: bold;
    text-align: left;
}

.table td {
    padding: 10px;
}

.table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table tbody tr:hover {
    background-color: #dcdcdc;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 5px 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #45a049;
}

.addbtn {
    margin: 50px 0;
    padding: 10px;
}
.addForm {
    margin: 50px 10px;
    padding: 10px;
    font-size: 20px;
    /*text-transform: uppercase;*/
}
.addForm select {
    margin-left: 10px;
}
.addForm input {
    margin-left: 10px;
}
.editForm {
    font-size: 20px;
    margin: 50px 10px;
    padding: 10px;
    font-size: 20px;
}
.editForm input{
    margin-left: 10px;
}
.editForm select{
    margin-left: 10px;
}
.details {
    font-size: 18px;
    margin: 50px 5px;
    padding: 5px;
}
